[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
requests = "*"
"beautifulsoup4" = "*"
seaborn = "*"
lxml = "*"
statsmodels = "*"
patsy = "*"

[dev-packages]
jupyterlab = "*"
pycodestyle = "*"
pycodestyle-magic = "*"
ipywidgets = "*"

[requires]
python_version = "3.6"
